<div class="container">
    <div class="col-md-9">
    <h3> Login </h3>
        <form>
            <div class="form-group">

                <label for="email"> Email: </label>
                <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" required placeholder="mario@gmail.com"/>
    
                <label for="password"> Password: </label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" required placeholder="password"/> <br>
            
                <button class="btn btn-primary">Login</button> 
            </div>
        </form>
    </div>
</div>