<div class="navbar">
    <div class="home"> RentalCar </div>
    <div class="menu"> 
      <ul>
        <li><a class="nav-link" routerLink="/home"> Home </a></li>
        <li><a class="nav-link" routerLink="/carslist"> Cars </a></li>
        <li><a class="nav-link" routerLink="/userlist"> Customers </a></li>
      </ul>
    </div>
    <div class="access">
      <ul>
        <li><a class="dropdown-item" href="/login"> Sign in </a></li>
        <li><a class="dropdown-item" href="/users"> Sign up </a></li>
        <li><a class="dropdown-item" href="/logout"> Logout </a></li>
      </ul>
    </div>
</div>