<div class="flexForm">
        
        <div class="inputForm">
            <button type="button" class="btn btn-success" (click)=addCar() style="position: absolute; right: 25px;"> Add car </button>
        </div>
        
        <form class="form-inline" #bookingDate="ngForm">    

            <div class="inputForm"> 
                <label for="startBooking"> Data inizio: </label> &nbsp;&nbsp;
                <input type="date" name="startBooking" #startBooking="ngModel" [(ngModel)]="booking.startBooking" class="form-control"/> &nbsp;&nbsp;
            </div>

            <div class="inputForm">   
                <label for="endOfBooking"> Data fine: </label> &nbsp;&nbsp;
                <input type="date" name="endOfBooking" #endOfBooking="ngModel" [(ngModel)]="booking.endOfBooking" class="form-control"/>
            </div>
        </form>
    
        <table class="table">
            <tr>
                <th> Manufacturer </th>
                <th> Model </th>
                <th> Matriculation </th>
                <th> License </th>
                <th> Category </th>
                <th> </th>
            </tr>
        
            <tr *ngFor="let d of car | paginate: { itemsPerPage: row, currentPage: pag }">
                <td> {{ d.manufacturer }} </td>
                <td> {{ d.carModel }} </td>
                <td> {{ d.yearOfRegistration }} </td>
                <td> {{ d.carLicensePlate }} </td>
                <td> {{ d.category.name }} </td>
                <td> 
                    <button type="button" class="btn btn-primary" (click)=createBooking(d)> Book now</button> &nbsp;
                    <button type="button" class="btn btn-primary" (click)=update(d)> Edit </button> &nbsp;
                    <button type="button" class="btn btn-danger" (click)=delete(d.idCar)> Delete </button> 
                </td>
            </tr>
        </table> 
        
        <div class="clearfix">
            <pagination-controls (pageChange)="pag = $event" previousLabel="Previous" nextLabel="Next"> </pagination-controls>
        </div>   
</div>