<div class="container">
    <div class="title" style="font-size:10vw">
        <h3>Registered users</h3>
    </div>
        <table class="table">
            <tr>
                <th> Name </th>
                <th> Surname </th>
                <th> Date of birth </th>
                <th> Email </th>
                <th> </th>
            </tr>
            <tr *ngFor="let d of user | paginate: { itemsPerPage: row, currentPage: pag }">
                <td> {{ d.name }} </td>
                <td> {{ d.surname }} </td>
                <td> {{ d.date }} </td>
                <td> {{ d.email }} </td>
                <td> 
                    <button type="button" class="btn btn-primary" (click)=update(d)> Edit </button> &nbsp;
                    <button type="button" class="btn btn-danger" (click)=delete(d.id)> Delete </button> 
                </td>
            </tr>
        </table> 

        <div class="clearfix">
            <pagination-controls (pageChange)="pag = $event" previousLabel="Previous" nextLabel="Next"> </pagination-controls>
        </div>   
</div>