<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Name </th>
                <th scope="col"> Surname </th>
                <th scope="col"> Date of birth </th>
                <th scope="col"> Email </th>
                <th scope="col"> Action </th>
            </tr>
        </thead> 
        <tbody>
            <tr scope="row">
                <td> {{ user.name }} </td>
                <td> {{ user.surname }} </td>
                <td> {{ user.date }} </td>
                <td> {{ user.email }} </td>
                <td> 
                    <button type="button" class="btn btn-primary" (click)=update(d)> Edit </button> &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>