<div class="container">
    
    <div class="title">
        <h3> Prenotazioni: </h3> 
    </div>

    <table class="table">
        <tr>
            <th> Start date </th>
            <th> End date </th>
            <th> User </th>
            <th> Car </th>
            <th></th>
        </tr>
        
        <tr *ngFor="let d of bookings">
            <td> {{ d.startBooking }} </td>
            <td> {{ d.endOfBooking }} </td>
            <td> {{ d.user.name }} {{ d.user.surname }} </td>
            <td> {{ d.car.manufacturer }} {{ d.car.carModel }} {{ d.car.carLicensePlate}} </td>
            <td> 
                <button type="button" class="btn btn-primary" (click)=edit(d)> Edit </button> &nbsp;
                <button type="button" class="btn btn-danger" (click)=delete(d.id)> Delete </button> 
            </td>
        </tr>

    </table>    
</div>