<div class="container flexForm">
  <div class="title">
    <h3> Modifica:</h3>
  </div>
  
  <form #userForm="ngForm">
  
    <div class="inputForm">
      <label for="name"> Name: </label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name" #name="ngModel"/>
    </div> 
  
    <div class="inputForm">
      <label for="surname"> Surname: </label>
      <input type="text" class="form-control" id="surname" required [(ngModel)]="user.surname" name="surname" #surname="ngModel"/>
    </div>
  
    <div class="inputForm">
      <label for="date"> Date of birth: </label>
      <input type="text" class="form-control" id="date" required [(ngModel)]="user.date" name="date" #date="ngModel"/>
    </div>
  
    <div class="inputForm"> 
      <label for="email"> Email: </label>
      <input type="email" class="form-control" id="email" required 
          [(ngModel)]="user.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel"/>
    </div>
  
    <div class="inputForm">
      <label for="password"> Password: </label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel"/> <br>
    </div>
  
    <div class="inputForm">
      <button type="button" (click)=save() [disabled]="!userForm.form.valid" class="btn btn-primary">Save</button>
    </div>
  
  </form>
</div>      