<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <h3> Register to access:</h3>
      <div class="form-group">
        <label for="name"> Name: </label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name" #name="ngModel"/>
      </div> 
      <div class="form-group">
        <label for="surname"> Surname: </label>
        <input type="text" class="form-control" id="surname" required [(ngModel)]="user.surname" name="surname" #surname="ngModel"/>
      </div>
      <div class="form-group">
        <label for="date"> Date of birth: </label>
        <input type="text" class="form-control" id="date" required [(ngModel)]="user.date" name="date" #date="ngModel"/>
      </div>
      <div class="form-group"> 
        <label for="email"> Email: </label>
        <input type="email" class="form-control" id="email" required 
              [(ngModel)]="user.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel"/>
      </div>
      <div class="form-group">
        <label for="password"> Password: </label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel"/> <br>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>      
</div>