<div class="flexForm">
  <div class="title">
    <h3> Registration: </h3>
  </div>

  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    
    <div class="inputForm">
      <div class="col-25">
        <label for="name"> Name: </label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name"/>
      </div>
    </div>

    <div class="inputForm">
      <div class="col-25">
        <label for="surname"> Surname: </label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" id="surname" required [(ngModel)]="user.surname" name="surname"/>
      </div>
    </div>

    <div class="inputForm">
      <div class="col-25">
        <label for="date"> Birth date: </label>
      </div>
      <div class="col-75">
        <input type="date" class="form-control" id="date" required [(ngModel)]="user.date" name="date"/>
      </div>
    </div>

    <div class="inputForm">
      <div class="col-25">
        <label for="email"> Email: </label>
      </div>
      <div class="col-75">
        <input type="email" class="form-control" id="email" required [(ngModel)]="user.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
      </div>
    </div>
    
    <div class="inputForm">
      <div class="col-25">
        <label for="password"> Password: </label>
      </div>
      <div class="col-75">
        <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password"/>
      </div>
    </div>

    <div class="inputForm">
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid"> Submit </button>
    </div>

  </form>
</div>