.container {
    padding: 120px;
    display: flex;
    flex-flow: column nowrap;
}

.table {   
    padding: 20px;
    margin-top: 10px;
}
  
.table th, .table td { 
    text-align: center; 
    border-left: 1px solid #DDD;
}
  
.table tr { 
    border: 1px solid #DDD;   
}

.btn {
    margin-top: 10px;
}
