<br>
<form class="form-inline" #bookingDate="ngForm">
    <div class="form-group mb-2" > 
        <label for="startBooking"> Data inizio: </label> &nbsp;&nbsp;
        <input type="date" name="startBooking" #startBooking="ngModel" [(ngModel)]="booking.startBooking" class="form-control"/> &nbsp;&nbsp;
        <label for="endOfBooking"> Data fine: </label> &nbsp;&nbsp;
        <input type="date" name="endOfBooking" #endOfBooking="ngModel" [(ngModel)]="booking.endOfBooking" class="form-control"/>
    </div>
</form>
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Manufacturer </th>
                <th scope="col"> Model </th>
                <th scope="col"> Matriculation </th>
                <th scope="col"> License </th>
                <th scope="col"> Category </th>
                <th> </th>
            </tr>
        </thead> 
        <tbody>
            <tr *ngFor="let d of car" scope="row">
                <td> {{ d.manufacturer }} </td>
                <td> {{ d.carModel }} </td>
                <td> {{ d.yearOfRegistration }} </td>
                <td> {{ d.carLicensePlate }} </td>
                <td> {{ d.category.name }} </td>
                <td> 
                    <button type="button" class="btn btn-primary" (click)=update(d)> Edit </button> &nbsp;
                </td>
            </tr>
        </tbody>
    </table>    
</div>