<div class="flexForm">
    <form class="form-inline">
        <div class="inputForm"> 
            <label for="startBooking"> Data inizio: </label> 
            <input type="date" name="startBooking" #startBooking="ngModel" [(ngModel)]="booking.startBooking" class="form-control"/> &nbsp;&nbsp;
        </div>
        <div class="inputForm"> 
            <label for="endOfBooking"> Data fine: </label> 
            <input type="date" name="endOfBooking" #endOfBooking="ngModel" [(ngModel)]="booking.endOfBooking" class="form-control"/>
        </div>
    </form>
</div>

<div class="container">
    <table class="table">

        <tr>
            <th> Manufacturer </th>
            <th> Model </th>
            <th> Matriculation </th>
            <th> License </th>
            <th> Category </th>
            <th> </th>
        </tr>
            
        <tr *ngFor="let d of car">
            <td> {{ d.manufacturer }} </td>
            <td> {{ d.carModel }} </td>
            <td> {{ d.yearOfRegistration }} </td>
            <td> {{ d.carLicensePlate }} </td>
            <td> {{ d.category.name }} </td>
            <td> 
                <button type="button" class="btn btn-primary" (click)=update(d)> Edit </button> &nbsp;
            </td>
        </tr>

    </table>    
</div>